<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
	<body>
	<section id = "main">
			<nav>
				<span class="menu-space" ></span>
				<ul class = "menu">
					<li><a href = "main.html#Home" class="btn">Home</a></li>
					<li><a href = "main.html#Educational Details" class="btn">Educational Details</a></li>
					<li><a href = "main.html#Certificate" class="btn">Certificate</a></li>
					<li><a href = "home.html" class="btn">Logout</a></li>
					<li><a href = "" class="btn">Aboutus</a></li>
				</ul>
				<!-- <a href="" class="logo">
					<img src="logo.jpg" alt="">
				</a> -->
			</nav>
	</section>
	</body>
</html>