<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link  href="{% static 'css/admin.css' %}" rel="stylesheet"  type="text/css">
</head>
<body>
    <h1><em>Report Generation</em></h1>
        <div class="container">			
			<p>Branch<br><br><br><br>Date<br><br>Year</p><hr>
				<form action=""> 
					<div class="checkbox">
						<div class="row">
						  <div class="column1">
							<input type="checkbox" id="inft" name="inft" value="inft">
						    <label for="inft">Information Technology</label><br></br>
							<input type="checkbox" id="extc" name="extc" value="extc">
						    <label for="extc"> Electronics and Telecommunication Engineering</label><br></br>
							<input type="checkbox" id="biom" name="biom" value="biom">
						    <label for="biom"> Biomedical Engineering</label>
						  </div>
						  <div class="column2">
							<input type="checkbox" id="cmpn" name="cmpn" value="cmpn">
						    <label for="cmpn"> Computer Science</label><br><br>
							<input type="checkbox" id="etrx" name="etrx" value="etrx">
						    <label for="etrx"> Electronics Engineering</label><br><br>
						    <input type="checkbox" id="manage" name="manage" value="manage">
						    <label for="manage"> Management Studies</label>
						  </div>
						</div>
				    </div>
					<div class="date">
						<div class="row">
							<div class ="col">
								<label for="from">From:</label>
								<input type="date" id="from" name="from">
							</div>
							<div class ="col">
								<label for="To">To:</label>
								<input type="date" id="to" name="to">
							</div>
						</div>
					</div>
					<div class="year">
						<div class="row">
							<div class ="col1">
								<input type="checkbox" id="fe" name="fe">
								<label for="fe">FE</label>
							</div>
							<div class ="col1">
								<input type="checkbox" id="se" name="se">
								<label for="se">SE</label>
							</div>
							<div class ="col1">
								<input type="checkbox" id="te" name="te">
								<label for="te">TE</label>
							</div>
							<div class ="col1">
								<input type="checkbox" id="be" name="be">
								<label for="be">BE</label>
							</div>
						</div>
					</div>
					<div class="button">
						<div class = "row">
							<div class="col">
								<input type="submit" value="Clear All Filters">
							</div>
							<div class="col">
								<input type="submit" value="Generate Report">
							</div>
							<input type="submit" value="Generate Full Report">
						</div>
					</div>
				</form>	
        </div>
</body>
</html>