<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>HomePage</title>
		<link rel="stylesheet" href="{% static 'css/home.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="bg-image"></div>
		<div class="bg-text">
			<h1>V-Store it</h1>
			<p> One place to store your all Acheivements.</p>
		</div>
		<section id = "main">
			<nav>
				<span class="menu-space" ></span>
				<ul class = "menu">
				<li><a href = "" class="btn">Home</a></li>
				<li><a href = "register.html" class="btn">Sign Up</a></li>
				<li><a href = "login.html" class="btn">Sign In</a></li>
				<li><a href = "#" class="btn">About us</a></li>
				</ul>
				<!-- <a href="" class="logo">
					<img src="logo.jpg" alt="">
				</a> -->
			</nav>
		</section>
	</body>
</html>
